{% macro render_main_nav() %}
<header class="px-md-4 mb-3 bg-danger border-bottom border-dark shadow-sm">
  <div class="container-fluid navbar p-0 d-flex flex-column flex-md-row align-items-center">
    <a href="{{ url_for('main.index') }}" class="text-light navbar-brand me-0 d-flex align-items-center">
     Maxsold Search 
    </a>
  </div>
</header>
{% endmacro %}