<!doctype html>
<html lang="en">

    <head>
        <meta name="charset" content="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        
        <title>{{ title }}</title>

        <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.ico') }}"/>

        {% block styles %}
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock %}
        
        {% block scripts_head %}
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" ></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" ></script>
        {% endblock %}
    </head>

    {% import 'macros/nav.html' as nav %}

    <body>
        {{ nav.render_main_nav() }}

        <div class="container-fluid mt-4 mb-5">
        {% block content %}
        {% endblock %}
        </div>

        {% block scripts %}{% endblock %}

    </body>
</html>