/* Resets */
body {
    background-color: white;
}
/* Resets End */


/* Callouts */
.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-color: rgb(233, 236, 239);
    border-left-width: 1px;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-primary {
    border-left-color: #0d6efd;
}
.callout-info {
    border-left-color: #5bc0de;
}
.callout-warning {
    border-left-color: #f0ad4e;
}
.callout-danger {
    border-left-color: #d9534f;
}

/* Callouts END*/

/* Btn custom */
.btn-primary.btn-focused {
    box-shadow: 0 0 0 .25rem rgb(49, 132, 253);
}
/* Btn custom END */

.item-img {
    max-width: 15%;
}
.item-icon {
    position: absolute;
    left: -8px;
}