{% extends 'base.html' %}

{% block content %}
<div class="row">

    <form class="row gy-2 gx-3 align-items-center" method="POST">
        {{ form.hidden_tag() }}

            <div class="col-auto">
                {{ form.search_term.label }}
                {{ form.search_term(placeholder='Search for...', class_="form-control") }}
            </div>
            <div class="col-auto">
                {{ form.radius.label }}
                {{ form.radius(placeholder='Radius in km', class_="form-control") }}
            </div>
            <div class="col-auto">
                {{ form.location_field.label }}
                {{ form.location_field(placeholder='Lat/Lon', class_="form-control", onclick="getLocation()") }}
            </div>
            <div class="col-12">
                {{ form.search_button(class_="btn btn-primary") }}
            </div>
    </form>

    <div class="mt-4">


        <div>Found <strong>{{ auction_items|count }}</strong> items</div>
        <ul class="list-group list-group-flush">
                {% for item in auction_items %}
            <li class="list-group-item list-group-item-action {{ 'bg-warning' if item.ends_today else '' }}">
                <div class="row p-0">
                    <div class="col-4 col-sm-2 col-lg-2">
                        <div class="">
                            <span class="item-icon">🕔 </span><a target="_blank"
                                href="https://maxsold.maxsold.com/auction/{{ item.am_auction_id }}/bidgallery/">{{
                                item.end_date.strftime('%b %d %H:%M') }}</a>
                        </div>
                        <div class="">
                            <span class="item-icon">🌐 </span><a target="_blank"
                                href="https://www.google.com/maps/@{{ item._geoloc.lat }},{{ item._geoloc.lng }},15z">{{
                                item.region }}</a>
                        </div>
                    </div>

                    <div class="col-8 col-sm-10 col-lg-6">
                        <div class="">
                            <a target="_blank"
                                href="https://maxsold.maxsold.com/auction/{{ item.am_auction_id }}/item/{{ item.item_link|lower }}">{{item.title
                                }}</a>
                        </div>
                        <div class="">
<strong>${{ item.current_bid}}</strong> {{ item.description }}
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="">
                            {% for images in item.item_images %}
                            <img class="item-img" src="https://d12srav5gxm0re.cloudfront.net/{{ images.thumb_url }}">
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </li>
                {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}